/* width */

::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a7a6a6;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  @media (max-width: 1024px) {
    .reverse-col {
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
    }
}

  @media (max-width: 1024px) {
    .reverse-justify {
        justify-content: space-between;
        width: 100%;
    }
}